* {
    font-size: 18px;
}
.btn-outline-primary,
.btn-outline-success {
    margin-left: 20px !important;
    float: right;
}

.form-label {
    margin-left: 0px;
}

.form-label,
.form-control {
    margin-bottom: 25px !important;
    padding-right: 0 !important;
}

.panel2 {
    position: absolute;
    top: 35%;
    padding: 10px;
}

.row {
    margin: 0 !important;
    padding-left: 0 !important;
}

.alert-danger {
    color: red;
    margin-top: 18px;
    border: 0px;
}

.alert-success {
    color: green;
    margin-top: 18px;
    border: 0px;
}

#DateTime
{
    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
}