* {
    font-size: 18px;
}
.btn-outline-primary,
.btn-outline-success {
    margin-left: 20px !important;
    float: right;
}

.form-label {
    margin-left: 0px;
}

.form-label,
.form-control {
    margin-bottom: 25px;
    padding-right: 0 !important;
}

.panel2 {
    position: absolute;
    top: 35%;
    padding: 10px;
}

.row {
    margin: 0 !important;
    padding-left: 0 !important;
}

.alert-danger {
    color: red;
    margin-top: 18px;
    border: 0px;
}

.alert-success {
    color: green;
    margin-top: 18px;
    border: 0px;
}

.panel {
    box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.3);
}
